@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
}
html, body {
  height: 100%;
}
body {
	color: #826e6e;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	text-align: center;
}
a {
	color: #826e6e;
}
a:hover {

}
.anchor {
	display: inline-block;
	position: relative;
	top: -110px;
}
/*IMAGES*/

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
/*Fonts*/

@font-face {
    font-family: 'sweetsans-regular-webfont';
    src: url('../fonts/sweetsans-regular-webfont.eot');
    src: url('../fonts/sweetsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sweetsans-regular-webfont.woff') format('woff'),
         url('../fonts/sweetsans-regular-webfont.ttf') format('truetype'),
         url('sweetsans-regular-webfont.svg#sweetsans-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*TYPE*/

h1 {
	font-size: 21px;
	line-height: 25px;
	font-family: 'sweetsans-regular-webfont';
	padding-bottom: 20px;
}
h2 {
	font-size: 18px;
	line-height: 21px;
	font-family: 'sweetsans-regular-webfont';
}
h3 {
	font-size: 16px;
	line-height: 19px;
	font-family: 'sweetsans-regular-webfont';
	margin-bottom: 10px;
}
h4 {
	font-size: 14px;
	line-height: 19px;
	font-family: 'sweetsans-regular-webfont';
	margin-bottom: 0px;
	 }
h5 { font-size: 12px;
	line-height: 14px;
	font-family: 'sweetsans-regular-webfont';
	margin-bottom: 0px;
	padding-top: 10px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
h6 { }
p {
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 10px;
}
strong {
	font-weight: bold;
}
p:last-child {
	padding-bottom: 0px;
	margin-bottom: 0;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.legal {
	margin-bottom: 20px;
	font-size: 10px;
	line-height: 12px;
}
/*MAIN*/

.page-wrap {
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 100px;
}
.wrapper {  margin:0 auto;
	background-color: white;
	padding-top: 50px;
}

.fixed {
	 width:100%;
    position:fixed;
    top:0px;
	z-index: 50;

}
.fixed .columns {
	background-color: white;
}

.columns {
	padding-bottom: 13px;
	padding-top: 10px;
}
.container .columns .twelve {
	margin-left: 0;
}
.desc {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
/*BORDER*/

.border-top {
	border-top: 1px solid #d9d3d3;
}
.border-btm {
	border-bottom: 1px solid #d9d3d3;
}
.line-break {
	border-bottom: 1px solid #d9d3d3;
	clear: both;
	margin-bottom: 20px;
}

/*HEADER*/

header {
	text-indent: -9999px;
	color: #ffffff;
	display: block;
}
.logo {
	width: 220px;
	height: 23px;
	background: url(../images/main/logo.svg) no-repeat center center;
	background-size:contain;
	margin-top: 0;
	float: left;
	margin-left: 5px;
}
.no-svg .logo {
	background-image: url(../images/main/logo.png);
	width: 230px;
}
.logo a {
	width: 100%;
	height: 100%;
	float: left;
}
/*NAV*/

nav {
	text-indent: 0px;
	color: #826e6e;
	font-family: 'sweetsans-regular-webfont';
	float: right;
	margin-right: 5px;
	padding-top: 3px;
	font-size: 12px;
	margin-top: 4px;
}
nav a {
	text-decoration: none;
	cursor: pointer;
}
nav a:hover {
	text-decoration: underline;
}
nav ul {
	float: right;
}
nav li {
	display: inline-block;
	padding-left: 7px;
}
nav .break,
nav .break + li {
	padding-left: 0px;
}
.selected {
	text-decoration: underline !important;
}
/*MOBILE NAV*/

.mobileNav {
	display: none;
}
.mobileNavBtn {
	text-indent: 0;
	float: right;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 6px;
	z-index: 60;
	cursor: pointer;
}
.mobileNavBtn.closed {
	background: url(../images/icons/menu.svg) no-repeat center center;
}
.mobileNavBtn.open {

	background: url(../images/icons/close.svg) no-repeat center center;
	display: none;
}
/*ABOUT*/

.about {
	float: left;
	clear: both;
	width: 100%;
	text-align: left;
	display: none;
}
.about .closed {
	background: url(../images/icons/close.svg) no-repeat center center;
		text-indent: 0;
	float: right;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 15px;
	top: 6px;
	z-index: 30;
	cursor: pointer;
}
.no-svg .about .closed {
	background-image: url(../images/icons/close_about.png);
	width: 15px;
}

.telephone {
	text-decoration: none;
	cursor: default;
}
/*IMAGE*/

.image {
	margin-bottom: 20px;
}
/*GRID*/

.gridHolder {

	margin-left: 15px;
	margin-right: 15px;
	float: left;
	width: 100%;
}

.item {
	background-size:cover;
	height: 105px;
	width: 105px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: silver; background-position: center top;
}

.doubleShort {
	width: 220px;
}


.double {
	width: 220px;
	height: 220px;
}
.triple {
	width: 450px;
	height: 220px;
}
.item a {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 15;
	left: 0;
	top: 0;
	float: left;
	background-color: rgba(0,0,0,0);

}
.ie8 .item a,
.ie7 .item a {
	background: url(../images/main/black.png) repeat;
}
.item a:hover {
	background-color: rgba(0,0,0,0.5);
	 -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.item a:hover h5,
.item a:hover .icons {
	opacity: 1;
	 -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.item a h5,
.item a .icons {
	opacity: 0;
}
.item h5 {
	z-index: 10;
	float: left;
	margin-top: 108px;
	margin-right: auto;
	color: white;
	margin-left: auto;
	text-align: center;
	width: 100%;
	padding: 0;
}
/*ICONS*/

.icons {
	z-index: 10;
	color: white;
	padding: 0;
}
.icons span {
	font-size: 9px;
	line-height: 11px;
	margin-left: 5px;
	padding: 3px;
	min-width: 10px;
	display: inline-block;
	text-align: center;
}
/*additional*/

.additional {
	padding-bottom: 20px;
}
.additional h2 {
	margin-bottom: 10px;
}
.additional a {
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	text-decoration: none;
}
.additional .flashLink {
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}
/*FLASH*/

.flashAd {
	display: block !important;
	clear: both;
}
.flashAd p {
	margin-top: 10px;
}

.flashFail {
	display: none;
	clear: both;
}
.flashFail p {
	margin-bottom: 10px;
}
.current {
	font-weight: bold;
}
object {
	background-color: white;
}

/*Video*/

video {
	object-fit: contain;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
	margin-bottom: 20px;
}
.videoWrapper #player {

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
/*MENU*/

.menu {
	text-align: left;
	margin-left: 10px;
	border: 1px solid #d9d3d3;
	border-right-style: none;
	border-left-style: none;
	margin-top: 54px;
	padding-left: 0;
	display: none;
}
.menu li, .menu p {
	padding-bottom: 0;
	font-size: 11px;
	line-height: 15px;
}
.menu ul {
	margin-top: 10px;
}
.menu li {
	margin-top: 3px;
}
/*FOOTER*/

footer {

}
footer .line-break {
	margin-bottom: 10px;
}
footer p {
	font-size: 11px;
}
footer ul {
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 0;
}
footer li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}



	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	.item a {

	background-color: rgba(0,0,0,0.3);

}
.item a:hover {
	background-color: rgba(0,0,0,0.3);

}
.item a h5,
.item a .icons {
	opacity: 1;
}

		}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {


.gridHolder {
	margin-left: 0;
	margin-right: 0;
}
p {
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.double,
.triple {
	width: 100%;
}
	.item a {

	background-color: rgba(0,0,0,0.3);

}
.item a:hover {
	background-color: rgba(0,0,0,0.3);

}
.item a h5,
.item a .icons {
	opacity: 1;
}
.menu {
	border-top-style: none;
}
.menu h4 {
	padding-left: 10px;
}
	.menu ul {
	margin-top: -31px;
	top: 0;
	float: right;
	display: block;
}
.menu ul li {
	display: inline-block;
	padding-left: 20px;
	margin-top: 9px;
}
.mobileNav {
	display: block;
}
	.wrapper {
	padding-top: 55px; /*85 when menu*/
}
.logo {
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 0;
}
nav {
	float: left;
	width: 100%;
	border-top: 1px solid #d9d3d3;
	padding-top: 1px;
	display: none;
	margin-top: 10px;
	margin-bottom: -10px;
}
nav ul {
	padding-top: 10px;
	padding-bottom: 10px;
	float: none;
	margin-top: 3px;
}
nav li,
nav li.break,
nav .break + li {
	padding-right: 4px;
	padding-left: 4px;
}
nav li a {
	padding-top: 10px;
	padding-bottom: 10px;
}
nav .filter {
	display: none;
}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

nav {
	font-size: 11px;

}
nav li,
nav li .break,
nav .break + li {
	padding-right: 3px;
	padding-left: 3px;
}
.telephone {
	text-decoration: underline;
}
}
